@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;

  text-decoration: none;
  list-style-type: none;
  outline: none;
  padding: 10px, 20px, 30px;
}

.container{
  width: 100%;
  margin: 1em auto;
  padding: 10px, 20px, 30px;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
  padding: 10px, 20px, 30px, 10px;
  border: 5px;
}

.slideshow {
  list-style-type: none;
}

.slideshow,
.slideshow:after { 
  min-width: 100%;;
  width: 100%;;
  height: 450px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.slideshow li span { 
    position: absolute;
    min-width: 100%;;
    width: 100%;;
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 10s linear infinite 0s; 
}

.slideshow li:nth-child(1) span { 
    background-image: url("./assets/DC.jpg"); 
}
.slideshow li:nth-child(2) span { 
    background-image: url("./assets/Avatar_img.webp");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("./assets/Thor.jpg");
    animation-delay: 12s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1; animation-timing-function: ease-out; }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}